{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{%block content%}

<form action="" method="post">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Now</legend>
        {{form|crispy}}
    </fieldset>

    <div class="form-group">
        <button class="btb btn-=rimary" type="submit"><a href="{% url 'login'%}"></a>Sign up</button>
    </div>
    <button  type="submit"><a href="{% url 'login'%}"></a>Sign up</button>
    
</form>
<p>LOG IN instead?</p>
<a href="{% url 'login'%}"><button>LOG IN</button></a>
{%endblock%}


